body {
    background-color: #03120B;
}

.head {
    justify-content: center;
    align-items: center;
    background-image: url("mtg-background.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    margin: 0px;
}

body {
    margin: 0px;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: white;
    margin-top: 100px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.set-selection {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 20%;
    height: 100%;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.card-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    width: 50%;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.deck-container {
    margin: 10px;
    width: 25%;
    height: 100%;
}

.tool-bar {
    height: 75px;
    display: flex;
    justify-content: center;
}

.tool-button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 2px;
    font-size: 13px;
    background-color: #03120B;
    cursor: pointer;
}

.set-title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: dimgray;
}

.deck-title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: dimgray;
    margin-bottom: 5px;
}

.set-check {
    flex-wrap: wrap;
}

.set-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
    margin-bottom: 10px;
    cursor: pointer;
}

.set-container {
    display: flex;
    flex-direction: row;
}

.card {
    background-size: 100%;
    width: 227px;
    height: 317px;
    margin: 4px;
}

.nav-bar {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.previous {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-right: 160px;
    color: white;
    cursor: pointer;
}

.page-count {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    margin-right: 150px;
}

.next {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    margin-right: 90px;
    cursor: pointer;
}

.deck-contents {
    display: flex;
    justify-content: space-around;
}

.add {
    display: flex;
    flex-direction: column;
    width: 10%;
    font-weight: bold;
    background-color: #03120B;
    color: white;
}

.subtract {
    display: flex;
    flex-direction: column;
    width: 10%;
    font-weight: bold;
    background-color: #03120B;
    color: white;
}

.name-and-quantity {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #03120B;
    color: white;
}

.deck {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.sub-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
}

.minus {
    background-color: #03120B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.plus {
    background-color: #03120B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card-in-display {
    font-size: 12px;
}


